body{
    margin: 0;
    padding: 0;
}
.header{
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}
.image-section {
    position: relative;
    text-align: center;
    height:750px;
    background-image: url('D:/frontend/Ecommerce website/img/main.png.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    color: white;
}
.card-text {
    max-width: 1000px;
    text-align: left;
    padding: 40px;
}
.header h1 a{
    color: black;
}
.nav a:hover{
    color: black;
}
a{
    text-decoration: none; 
    color: gray;
}
.btn a :hover{
    background-color: black;
    color: white;
}
ul{
    display: flex;
    gap: 45px;
    text-decoration: none;
}
.btn{
    border: none;
}
.heading{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.footer{
    text-align: center ;
    color: black;
}
.footer i{
    color: red;
}
.footer span{
    text-decoration: underline; 
    font-weight:bold;
}
.bnt{
    border:none;
    padding:10px;
    margin-bottom:10px;
}
.cards {  
    border-radius:8px;
}
.bnt1{
    display: flex;
    justify-content: center;
}
.bnt1 a,.bnt1 button{
    background-color: black;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-right: 10px;
}
.border:hover{
    background-color: black;
    color: white;
}

.heading h2{
    text-align: center;
    padding: 10px;
    margin-top:30px;
}
.about p{
    text-align: center;
    align-items: center;
}
.about h1{
    text-align: center;
}
.card{
    margin: 20px;
    border-radius: 10px;
}
form{
    width: 350px;
    padding: 10px;
}
.imge{
    width: 400px;
}
.container h1{
    text-transform:uppercase;
}
.product h2,h3{
    font-weight:lighter;    
}
.product{
    padding:50px;
}
.slider h1{
    padding:40px;
}
.reg p{
    font-weight: bolder;
}
.reg span{
    text-decoration: underline;
    color:blue;
}
.product h2{
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
}
.cart1{
    height: 300px; 
    width: 1000px;
    margin-left: 300px;
    text-align: center;
    background-color:whitesmoke;
    justify-content: center;
    align-items: center;
}

.order button{
    background-color: black;
    color: white;
    width: 450px;
    justify-content: center;
    text-align: center;
}
.order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}
.order p, .order h2{
    display: flex;
    justify-content: space-between;
}
.order .sp1, .order .sp2, .order .sp4 {
    margin-left: auto;  
}
#cards{
    width: 53rem;
    bottom:450px; 
    display: none;
}
#order-summary{
    width: 30rem; 
    bottom: 340px;
    margin-left:10px; 
    left: 1000px; 
    position: absolute; 
    display: none;
}








